body {
    margin: 0;
    overflow:hidden;
}

.clear{
    clear: both;
}

.bar10px{
    padding: 10px;
    width: 100%;
}

.bar50px{
    padding: 50px;
    width: 100%;
}

.puyogame {
    opacity: 1;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.puyogame.scale20 {
    padding: 90px 0 15px 0;
    transform: scale(2);
    margin-bottom: 188px;
}

.puyofield {
    position: relative;
    display: inline-block;
}

.puyoline {
    width: calc(16px * 6);
    height: 16px;
}

.puyo {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: white;
    border-radius: 100%;
}

.puyo {
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.puyo.red {
    background: red;
}

.puyo.blue {
    background: blue;
}

.puyo.green {
    background: green;
}

.puyo.yellow {
    background: yellow;
}

.puyo.purple {
    background: purple;
}

.puyo.garbage {
    background: #d4d4d4;
}

.playerpuyo {
    position: absolute;
    white-space: nowrap;
    width: 16px;
    height: 32px;
}

.gameinfo {
    margin-top: 16px;
    text-align: center;
    margin-left: 10px;
}

.gameinfo .title {
    background: black;
    color: white;
    margin: 0 10px 5px;
    padding: 3px;
    font-size: 0.6rem;
    border-radius: 5px;
}

.gameinfo .nextgrid {
    display: inline-grid;
    grid-template-columns: repeat(2, 12px);
    grid-template-rows: repeat(4, 12px);
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.gameinfo .nextgrid .puyo {
    width: 12px;
    height: 12px;
}

.nextgrid .nextpuyo {
    display: inline-block;
}

.nextgrid .puyo.next-0 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.nextgrid .puyo.next-1 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.nextgrid .puyo.next-2 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.nextgrid .puyo.next-3 {
    grid-column-start: 2;
    grid-row-start: 4;
}

.gameinfo .rensa {
    width: 64px;
    height: 16px;
    font-size: 0.8rem;
    margin-bottom: 5px;
    text-align: center;
}

.gameinfo .score {
    width: 64px;
    height: 16px;
    font-size: 0.8rem;
    margin-bottom: 5px;
    text-align: center;
}

/* 13열 숨김 */
.puyo.arr0-0,
.puyo.arr0-1,
.puyo.arr0-2,
.puyo.arr0-3,
.puyo.arr0-4,
.puyo.arr0-5 {
    opacity: 0.2;
}


.playerpuyo .player-0 {
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 100%;
}

.playerpuyo .player-1 {
    position: relative;
    top: 16px;
    left: -16px;
    border-radius: 100%;
}

.buttons {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.config-wrapper {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    display: none;
    transition: 0.2s all ease;
    opacity: 1;
}

.config {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding: 30px;
    background: white;
    border-radius: 5px;
}

.config button {
    border: 1px solid #ddd;
    padding: 10px 5px;
    font-size: 0.8rem;
    background: 0;
    margin-top: 10px;
    cursor: pointer;
}

.config input[type="text"] {
    border: 1px solid #ddd;
    padding: 10px 5px;
    font-size: 0.8rem;
}

.config select {
    border: 1px solid #ddd;
    padding: 10px 5px;
    font-size: 0.8rem;
}

.option {
    display: flex;
    flex-direction: column;
}

.option h1 {
    font-weight: normal;
    font-size: 1rem;
}

.info-wrapper {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    display: none;
}

.info {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding: 30px;
    background: white;
    border-radius: 5px;
}

.info h1 {
    font-size: 1.2rem;
    margin: 0 0 10px;
    padding: 5px;
    background: black;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.info h2 {
    font-size: 1rem;
    margin: 0 0 10px;
}

.info ul {
    padding: 0;
    margin: 0 0 10px;
}

.info ul:last-child {
    margin-bottom: 0;
}

.info ul li {
    list-style-position: inside;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.info ul li:last-child {
    margin-bottom: 0;
}

details {
    padding: 5px;
}
